.subscribeItem {
  margin: 20rpx 0;
}
.subscribeDateBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}
.extendChar {
  height: 40rpx;
  width: 40rpx;
  margin-right: 30rpx;
}
.houseInfo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 13vh;
}
.houseImg {
  height: 160rpx;
  flex: 1;
}
.houseText {
  margin-left: 20rpx;
  flex: 2;
}
.oneLine {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.at-action-sheet__container {
  padding: 0;
}
.completedSheet {
  position: absolute;
  right: -92vw;
}
.actionBtn {
  font-weight: 100;
  font-size: 24rpx;
  margin: 0;
  color: #efefef;
  border-radius: 20rpx;
  background: #003399;
}
.rateBar {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  position: relative;
}
.successRate {
  width: 100rpx;
  height: 100rpx;
  position: absolute;
  right: 230rpx;
  top: -30rpx;
}