.formItem {
  margin: 30rpx 0 30rpx 0;
  background: aliceblue;
  border-radius: 40rpx;
  padding: 20rpx;
}
.headerBar {
  position: sticky;
  top: 0;
  z-index: 9999;
}
.actionButton {
  margin: 0;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  border-radius: 40rpx;
  background: #003399;
  box-shadow: 1rpx 1rpx 8rpx black;
  color: rgb(238, 235, 229);
}
.actionButton::after {
  border: 0;
}
.actionBottomBar {
  position: sticky;
  width: 100vw;
  bottom: 30rpx;
  display: flex;
  height: 7vh;
  justify-content: space-evenly;
}
.successContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  justify-content: center;
}
.successText {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContent {
  font-size: 32rpx;
  display: flex;
  align-items: center;
  padding-bottom: 0;
}