.filterBar {
  display: flex;
}
.filterBtn {
  margin: 0;
  flex: 1;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.actionBar {
  display: flex;
  align-items: center;
}
.newTopicBtn {
  flex: .6;
  font-size: 26rpx;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  padding: 0 14rpx 0 14rpx;
  margin-right: 14rpx;
  border-radius: 36rpx;
  background: #e0ecf7;
}
.newTopicBtn::after{
  border: 0;
}
.searchInput {
  flex: 3;
}
.headerBar {
  position: sticky;
  top: 0;
  z-index: 999;
}