.mainContainer {
  position: absolute;
  top: 25vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn {
  margin-top: 40rpx;
}