.loginText {
    color: darkcyan;
}
.mainPage {
    font-weight: 400;
    font-size: 30rpx;
}
.mainActionBar {
    position: sticky;
    bottom: 0;
    padding-bottom: 30rpx;
}
.headerBar {
    position: sticky;
    z-index: 9999;
    top: 0;
}