.at-list__item .item-extra__info {
  padding-right: 18rpx;
}
.at-input__title {
  padding-left: 30rpx;
}
.at-list__item-content {
  padding-left: 30rpx;
}
.at-search-bar__input-cnt {
  background: aliceblue;
}
.at-input::after {
  border: 0;
}
.at-steps__circle-icon {
  font-size: 32rpx;
}
.at-steps__item--inactive .at-steps__circular {
  width: 70rpx ;
  height: 70rpx;
  display: flex;
}
.at-steps__title {
  font-size: 26rpx;
}