.at-list__item .item-extra__info {
  padding-right: 18rpx;
}
.at-input__title {
  padding-left: 30rpx;
}
.at-list__item-content {
  padding-left: 30rpx;
}
.at-search-bar__input-cnt {
  background: aliceblue;
}
.at-input::after {
  border: 0;
}
.at-steps__circle-icon {
  font-size: 32rpx;
}
.at-steps__item--inactive .at-steps__circular {
  width: 70rpx ;
  height: 70rpx;
  display: flex;
}
.at-steps__title {
  font-size: 26rpx;
}
.at-message {
  top: 15vh;
}
.at-form::after {
  border: 0px;
}
.at-steps__single-icon--success {
  height: 70rpx;
  width: 70rpx;
}
.at-steps__single-icon {
  font-size: 80rpx;
}
.at-steps__item--active .at-steps__circular {
  height: 70rpx;
  width: 70rpx;
  display: flex;
  align-items: center;
}
.at-progress__outer-inner-background {
  height: 60rpx;
}
.at-steps__single-icon--error {
  height: 70rpx;
  width: 70rpx;
}